/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4B0F58;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #86526c;
}